<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class=""list-group>
<li><strong>email:</strong>{{user.email}}</li>
<li><strong>phone:</strong>{{user.phone}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
 <input type="submit" class=""btn btn-danger pull-right value="delete">
</form>